*{
    background-color: #bed4bb   ;
    color: #43976c   ;
    text-align: center;
    padding: 10px;
    font-size: 30px;

}
h1{color:#227a4d   ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    height: 10cm;;
}
#Boton1{ 
    color: #e4e4e4;
    border-radius: 15px;
    font-size: larger;
    background-color: #329c9c;
    border-color: #227a4d ;
}
.resaltado{
    font-family: #2e6662;
    color: rgb(250, 250, 250);
    font-size: larger;
    background-color: #329c9c;
    border-color: #13645f;
    border-radius: 15px;
}